.root {
    background-color: darkgrey;
    height: 850px;
    justify-content: center;
}

.visualization {
    height: 750px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bar {
    background-color: gray;
    border: 2px solid black;
    width: 50px;
    margin: 0px 10px;
}