.root {
    background-color: darkgrey;
    height: 850px;
    justify-content: center;
}

.visualization {
    height: 750px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bar {
    background-color: gray;
    border: 1.5px solid black;
    width: 50px;
    margin: 0px 1px;
}

@media only screen and (max-width: 600px) {
    .bar {
        border: 0.25px solid black;
        width: 25px;
        margin: 0px 0.5px;
    }
}
  